div#enhancement_banner {
  text-align: center;
  background-color: #B7BC72;

}

div#hide_enhance_div:hover{
  background-color: #9769B2;
}
div#hide_enhance_div:active{
  box-shadow: none;
  transform: translate(4px,4px);
}

div#API_display {
  display:none;
  text-align: left;
  margin: auto;
  max-width: 800px;
  font-size: 12px;
  overflow:scroll;
  background-color: white;
  border: 2px solid black;
  min-width: 400px;
}

div#hide_enhance_div {
  margin: auto auto 10px auto;
  background-color: #7D4BA7;
  border: 2px ridge black;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  box-shadow:
          1px 1px 0 0 #014D06,
          2px 2px 0 0 #014D06,
          3px 3px 0 0 #014D06,
          4px 4px 0 0 #014D06,
          5px 5px 5px 0 #000000;
  display: block;
  font-size: 16px;
  cursor: pointer;
  max-width: 200px;
}

